<div class="tab traits-list" data-group="primary" data-tab="traits-list">

  {{> "systems/wastburg/templates/actor/parts/actor-traits-list.hbs"}}

    <div class="editor-trait">
      <label class="label-editor-trait">Pourquoi je suis devenu gardoche//je suis entré dans la bande :</label>
      <textarea class="textareaTrait"name="system.note">{{system.note}}</textarea>
    </div>
</div>