<div class="tab etats-list" data-group="primary" data-tab="etats-list">
      <table class="tableEtats">
      <thead>
      <tr>
        <th class="subtab-header-title">Etats</th>
        <th >Description</th>
        <th >Bonus/Malus</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Santé</td>
        <td><input type="text" name="system.sante.santeText" value="{{system.sante.santeText}}" data-dtype="String" />  </td>
        <td> <select class="selectSante" name="system.sante.value" data-dtype="String">
            {{#select system.sante.value}}
                {{> systems/wastburg/templates/common/select-levels.hbs}}
            {{/select}}
            </select>
        </td>
      </tr>
      <tr>
        <td>Mental</td>
        <td><input type="text" name="system.mental.mentalText" value="{{system.mental.mentalText}}" data-dtype="String" /></td>
        <td><select class="selectMental" name="system.mental.value" data-dtype="String">
            {{#select system.mental.value}}
              {{> systems/wastburg/templates/common/select-levels.hbs}}
            {{/select}}
          </select>
        </td>
        </tr>
      <tr>
        <td>Social</td>
        <td><input type="text" name="system.social.socialText" value="{{system.social.socialText}}" data-dtype="String" /></td>
        <td><select class="selectSocial" name="system.social.value" data-dtype="String">
            {{#select system.social.value}}
                {{> systems/wastburg/templates/common/select-levels.hbs}}
            {{/select}}
          </select>     
          </td>
      </tr>
      <tbody>
    </table>
</div>