<div class="tab description" data-group="primary" data-tab="description">

  <span><strong>Titre :</strong> {{name}}</span><br>
  <span><strong>Description :</strong></span><br>
  {{editor description target="system.description" button=true owner=owner editable=editable}}
</div>
